<div>
<form [formGroup] = "customerForm">
  
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="name.invalid">
        Diga-nos o nome do cliente!e4
      </mat-error>
    </mat-form-field>
<br>
    <mat-form-field>
      <input matInput placeholder="Nome do responsável" formControlName="responsibleName">
      <mat-error *ngIf="responsibleName.invalid">
        Informe-nos o responsável!
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" name = "registerDate" [max]="maxDate" formControlName="registerDate" placeholder="Data de cadastro">
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="registerDate.erros?.maxDate">
          Hm... Cadastro no futuro? Não vejo nenhuma joia do tempo       
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-button color="primary" type="submit" (click)="submitHandler()"  [disabled]="customerForm.invalid" >Cadastrar</button>      
      <br>
      <ul *ngFor="let customer of customers">
        <li>{{customer.name}}
        </li>
      </ul>
</form>
</div>
