<mat-toolbar>
    <mat-menu></mat-menu>
    <button routerLink="/" routerLinkActive="active" mat-menu-item>Customers</button>    
    <button mat-menu-item routerLink="/createCustomer" routerLinkActive="active">Create Customer</button>    
    <button mat-menu-item routerLink="/listEval" routerLinkActive="active">Evaluation</button>    
    <button mat-menu-item routerLink="/createEval" routerLinkActive="active">Create Evaluation</button>    
    
</mat-toolbar>



<router-outlet></router-outlet>
